<section class="admin-post-index container text-center pt-5 mb-5">
    <h1 class="pt-5 title">お知らせリスト</h1>
    <div class="row mx-3">
        <div class="col-12 col-md-4 mt-5 mb-2 px-5">
        
        </div>
    </div>
    <div class="card mx-5">
        <div class="card-header py-1">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-2 col-md-2 my-auto">タイトル</div>
                <div class="col-3 col-md-3 my-auto">内容</div>
                <div class="col-3 col-md-5 my-auto">zoomなどのリンク</div>
            </div>
        </div>
        <div class="card-body">   
                    <div class="row py-0">
                        <div class="col-2 col-md-2 my-auto">
                            <%= @notice.title %>
                        </div>
                        <div class="col-3 col-md-3 my-auto">
                            <%= @notice.content %>
                        </div>
                        <%= link_to "#{@notice.link}", class: "col-7 col-md-5 text-dark font-weight-bold", target: :_blank do %>
                            <%= @notice.link %><br>
                        <% end %>
                
                    </div>
                    <hr>

        </div>
    </div>
</section>
