<section class="notice-title">
    <div class="container mt-5 mb-3 p-5 bg-color text-white">
            <div class="content text-center" id="contact">
                <h1 class="section-title">
                    <%= @notice.title %>
                </h1>
            </div>
        </div>
</section>
<section class="notice-description">
    <div class="container mb-5 p-5 bg-white">
            <div class="content text-center">
                <h4 class="mt-3 px-5">
                    <span><%= @notice.content %></span>
                </h4>
                <div class="row">
                    <div class="col-8 ml-auto col-md-6">
                        <p>
                            <%= link_to "#{@notice.link}", class: "col-7 col-md-5 orange font-weight-bold", target: :_blank do %>
                                <h4>リンクをチェック</h4>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
