<div class="container text-center">
    <h1 class=" text-white title mb-5"><br>サインイン</h1>
    <div class="text-left mt-5">
        <%= render "form", btn_name: "サインインする" %>
    </div>
    <br>
    <p>
    もうすでにアカウントをお持ちの方は<span class="orange"><%= link_to "こちら", new_session_path %></span>
    </p>
</div>