<% if @contact.errors.any? %>
    <div class="alert alert-danger text-danger" role="alert">
        <p> The form contains <%= pluralize(@contact.errors.count, "error") %> </p>
        <hr>
        <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %> </li>
            <% end %>
        </ul>
    </div>   
<% end %>
