/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

<<<<<<< HEAD
@import "font-awesome";
@import "bootstrap";

body {
  background-color: rgb(240, 191, 76);
  font-weight: bold;
  font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, Osaka,
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", MS P Gothic, Verdana, sans-serif;
}

body p {
  line-height: 2;
}

// You can always write orange letters with this one.
.orange {
  color: rgb(232, 102, 16);
=======
@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  background: linear-gradient(315deg, rgba(230, 159, 92, 0.788) 0%, rgba(255, 203, 82, 0.733) 74%);
>>>>>>> nav
}
