// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo-section {
  position: fixed;
  top: 30px;
  left: 2%;
  z-index: 1000;
}
.logo {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  margin-bottom: 5px;
  position: fixed;
  top: 30px;
  left: 2%;
  width: 10%;
  z-index: 1000;
}
.menu-wrap {
  position: fixed;
  top: 15px;
  right: 2%;
  z-index: 1000;
}
.menu-wrap .toggler {
  position: absolute;
  top: 15px;
  right: 2%;
  z-index: 1001;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 15px;
  right: 2%;
  z-index: 1000;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1000;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}
/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  display: inline-block;
}  
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: #fff;
  transition: width .3s;
}
.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}
.sns-wapper {
  position: fixed;
  top: 245px;
  left: 2%;
  z-index: 1000;
}
.sns-wapper .sns-button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.sns-wapper .sns-button:hover{
  width: 200px;
}
.sns-wapper .sns-button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.sns-wapper .b1:hover .icon{
  background: #E1306C;
}
.sns-wapper .b2:hover .icon{
  background: #6f1df2;
}
.sns-wapper .b3:hover .icon{
  background: #ff0000;
}
.sns-wapper .b4:hover .icon{
  background: #1DA1F2;
}
.sns-wapper .sns-button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.sns-wapper .sns-button:hover .icon i{
  color: #fff;
}
.sns-wapper .sns-button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.sns-wapper .b1 span{
  color: #E1306C;
}
.sns-wapper .b2 span{
  color: #6f1df2;
}
.sns-wapper .b3 span{
  color: #ff0000;
}
.sns-wapper .b4 span{
  color: #1DA1F2;
}
// Code for large letters on carousel
.about-title {
  position: absolute;
  top: 2em;
  left: 1em;
  font-size: 10em;
  text-decoration: none;
  color: white;
}

.home-title {
  position: absolute;
  top: 2em;
  left: 1em;
  font-size: 10em;
  text-decoration: none;
  color: white;
}

.section-title {
  border-bottom: 4px solid;
  color: black;
}

.about-wrap {
  font-weight: bold;
}

.about-wrap p {
  font-size: 2em;
  line-height: 2;
}

// copy&paste btn css end
.shiney-button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: rgb(240, 191, 76);
  border: 2px solid rgb(240, 191, 76);
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: rgb(240, 191, 76);
    color: #fff;
    border-bottom: 4px solid darken(rgb(240, 191, 76), 10%);
    text-decoration: none;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}
// copy&paste btn css end

// copy&paste list css
.bof-issue ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
}
.bof-issue ol ol {
  padding-left: 1em;
}
.bof-issue li {
  text-indent: -1.3em;
  padding-left: 1.3em;
  font-size: 2em;
}
.bof-issue li:before {
  counter-increment: item;
  content: counter(item) ".";
  /* 以下は自由に装飾... */
  padding-right: 0.5em;
  font-weight: bold;
  color: var(--primary-color);
}
// copy&paste list css end

.back-button{
  position: fixed;
  right: 2%;
  bottom: 15%;
  color: white;
}
.back-button:hover{
  color: black;
}
