<section class="admin-post-index container text-center pt-5 mb-5">
    <h1 class="pt-5 title">お知らせ編集</h1>
    <div class="card mt-5 mx-5">
        <div class="card-header py-1">
        
        </div>
        <div class="card-body mb-3">
            <%= render "admin/notices/notice_form" %>
            <hr>
        <div class="mr-5 text-right">
                <% if @notice.to_show == false %>
                    <%= link_to "投稿を載せる", publicate_admin_notice_path(@notice), method: :patch, class: "btn btn-outline-dark bg-color put-center mt-4" %>
                <% else %>
                    <%= link_to "投稿を隠す", withdraw_admin_notice_path(@notice), method: :patch, class: "btn btn-outline-dark put-center mt-4" %>
                <% end %>
            </div>
        </div>
    </div>
    <%
=begin%>
 <div class="card card-body mx-5 mt-4">
        <%= render "admin/posts/comment_section" %>
    </div> 
<%
=end%>
</section>
