<section class="container text-center pt-5 mb-5">
    <h1 class="pt-5 title">お知らせ投稿を追加</h1>
    <div class="card mt-5 mx-5">
        <div class="card-header py-1">
        
        </div>
        <div class="card-body">
            <%= render "admin/notices/notice_form" %>
        </div>
    </div>
</section>
