<%= link_to 'javascript:history.back()', class: "back-button" do %>
    <i class="fas fa-arrow-alt-circle-left fa-4x"></i>
<% end %>

<section class="bg-light">
    <div class="text-right mr-5 pt-3">
        <%= link_to "ホーム", root_path, class: "text-dark pr-3" %>
        <%= link_to "ボフボフネットについて", about_path, class: "text-dark" %>
    </div>
    <p class="text-muted text-center m-0 py-3">All Rights Reserved &copy;Bofbof_net</p>
</section>