<section class="bg-light fixed-bottom">
    <div class="text-right mr-5 mt-3">
        <%= link_to "ホーム", root_path, class: "text-dark pr-3" %>
        <%= link_to "ボフボフネットについて", about_path, class: "text-dark" %>
    </div>
    <p class="text-muted text-center">All Rights Reserved &copy;Bofbof_net</p>
</section>